.hidebgComp {

    animation: hidebgelement forwards ease-in-out 1s;

    transition: animation ease-in-out 1s;

}


@keyframes hidebgelement {

    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        display: none !important;
        visibility: hidden;
    }
}