.element {

    color: black;
    font-weight: 600;
    transition: all 500ms ease-in-out;
}


.element:hover {
    color: #9747FF;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}


.submitbtnbg {

    color: white;
    background-color: black;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.submitbtnbg:hover {

    color: white;
    background-color: #9747FF;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}



/* updown animation for scroll btn */



.UpDownAnimation {

    animation: upDownAnimate linear 500ms infinite alternate;
}

@keyframes upDownAnimate {

    0% {
        transform: translateY(0);
        font-weight: 600;
    }

    100% {
        transform: translateY(-10px);
        font-weight: 800;
    }
}


.formbg {

    background: rgba(151, 71, 255, 0.2);
}

.paymentbyGiftCardBtn {

    background: linear-gradient(180deg, #AC6CFF 0%, #6400E6 100%);
    border-radius: 104px;
}



.shadowForPaymentOption {

    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.45);
}


.btnDesabledBg {

    background: linear-gradient(180deg, #AC6CFF 0%, #6400E6 100%);

    opacity: 0.2;
}

.readyToCheckoutBg {

    background: linear-gradient(180deg, #AC6BFF 0%, #7721E8 100%);
}

.modelzindex {
    z-index: 100;
}

/* redeem gift card responsive css */

@media (max-height:812px) {
    .creditCardImage {
        width: 260px !important;
        height: 140px !important;
    }

    .creditCardbtn {
        margin-top: 0px !important;
    }

    .paypalImage {
        width: 100px !important;
        height: 120px !important;
    }

}


@media (max-height:750px) {

    .redeemCardImage {
        width: 180px !important;
        height: 140px !important;
    }

    .splitPaymentMethod {
        width: 190px !important;
        height: 130px !important;
    }

    .splitPaymentCardMain {

        margin-top: 10px !important;
    }


    .creditCardImage {
        width: 260px !important;
        height: 140px !important;
    }

    .creditCardbtn {
        margin-top: 0px !important;
    }

    .paymentDialog {

        max-width: 750px !important;

    }


    .splitPaymentForm {

        padding: 0px 130px 0px 130px !important;
    }


}

@media (max-height:650px) {

    .redeemCardImage {
        width: 180px !important;
        height: 140px !important;
    }

    .splitPaymentMethod {
        width: 170px !important;
        height: 120px !important;
    }

    .splitPaymentCardMain {

        margin-top: 10px !important;
    }

    .creditCardImage {
        width: 260px !important;
        height: 140px !important;
    }

    .creditCardbtn {
        margin-top: 0px !important;
    }

    .paypalsuccessMain {

        margin-top: 20px !important;
    }

    .paypalsuccessInner {

        padding: 10px !important;
    }

}