.opacityAnimation {

    animation-name: showdiv;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;

}

@keyframes showdiv {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        z-index: 100;
    }
}


.opacityAnimation1 {

    animation-name: hideDiv;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;

}

@keyframes hideDiv {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: 0;
    }
}



/* menu toggele css */

.toggleOn {
    animation-name: MenuToggleOn;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-duration: 1s;
    position: absolute;
    width: 100vw
}

@keyframes MenuToggleOn {


    from {


        top: 0;
        left: 2000px;
        opacity: 0;
        overflow-x: hidden;
    }

    to {

        top: 0;
        left: 0px;
        opacity: 1;
        display: block;
    }
}


.toggleOff {

    animation-name: MenuToggleOff;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-duration: 1.5s;
    position: absolute;
    width: 100vw;

}

@keyframes MenuToggleOff {


    from {


        top: 0;
        left: 0px;
        opacity: 1;
    }

    to {

        top: 0;
        left: 2000px;
        opacity: 0;
        z-index: 0;


    }
}


.scrollHidden {
    overflow-x: hidden;
}


/* doorAnimation */


.mainAnimation .startDoorAnimateOpen {

    opacity: 0;

    transition: opacity 100ms ease-in-out;
}


.mainAnimation:hover.startDoorAnimateOpen {
    opacity: 1;

    transition: opacity 100ms ease-in-out;
}

.mainAnimation .startDoorAnimateClose {

    opacity: 1;

    transition: opacity 100ms ease-in-out;

    animation: showDoor 2s ease-in-out;
}

@keyframes showDoor {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





.mainAnimation:hover.startDoorAnimateClose {

    animation: hideDoor 2s ease-in-out forwards;

    opacity: 0;

    transition: opacity 100ms ease-in-out;
}


@keyframes hideDoor {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}