.gridMain {

    transition: all ease-in-out 2s;
    animation: transformUp 1s ease-in-out forwards;
    position: relative;


}


@keyframes transformUp {

    from {
        top: 100px;
        opacity: 0;

    }

    to {

        top: 0;
        opacity: 1;
    }
}

@media screen and (min-width:426px) {

    .cardBackground {

        background-color: rgba(128, 128, 128, 0.164);
        /* color: #9747FF; */
    }


    .cardBackgroundHover:hover {

        background-color: rgba(128, 128, 128, 0.164);
        /* color: #9747FF; */
        cursor: pointer;
        z-index: 100;
        transition: all ease-in-out 500ms;
    }


    .cardBackgroundHover {

        background-color: transparent;
        color: black;
        cursor: pointer;
        z-index: 100;
        transition: all ease-in-out 500ms;
    }
}




.hide1 {

    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;

}

.cardBackgroundHover:hover .hide1 {

    color: #9747FF;
    transition: color 500ms ease-in;
    animation: animateText 500ms linear both;
    display: block;
}

@keyframes animateText {

    from {
        opacity: 0;

    }

    to {
        opacity: 1;
        display: block;
    }

}

.cardBackgroundHover .hide1 {

    color: #9747FF;
    transition: color 500ms ease-in;
    animation: animateTextHide 500ms linear both;
    display: block;

}

@keyframes animateTextHide {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;

    }




}


.cardBackgroundHover:hover>.discriptionAnimation {

    transition: all ease 1000ms;
    transform: translateY(-10px);
    animation: FadeUpText 1000ms ease forwards;

}





.cardBackgroundHover>.discriptionAnimation {

    transition: all ease 1000ms;
    transform: translateY(0px);

}




.show1 {

    display: block;
    opacity: 1;
    transition: all 1s ease-in-out;
    animation: showAnimate 1s ease-in-out forwards;
}

@keyframes showAnimate {


    from {
        opacity: 0;
        /* transform: translateY(100px); */
    }

    to {
        opacity: 1;
    }


}


.fadeAnimation {
    animation: fadeAnimate 1s ease-in-out;
}

@keyframes fadeAnimate {


    from {
        opacity: 0;
        /* transform: translateY(100px); */
    }

    to {
        opacity: 1;
    }
}

.fadeAnimationhide {
    animation: fadeAnimatehide 1s ease;
}

@keyframes fadeAnimatehide {


    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        /* transform: translateY(100px); */
        width: 0;
        height: 0;
        visibility: hidden;
    }


}


.submitbtnbg {

    color: white;
    background-color: black;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.submitbtnbg:hover {

    color: white;
    background-color: #9747FF;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.hidescrollBar::-webkit-scrollbar {
    display: none;
}

/* gift shoppi css  */

.mainDiv>.gift {

    background-image: url(/images/homeBlack.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    transition: all ease-in-out 500ms;
    background-size: 180px;
}

.mainDiv:hover>.gift {

    background-image: url(/images/homeColor.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    transition: all ease-in-out 500ms;
    background-size: 180px;
}



/* giftShoppy Active */

.activeGiftShoppy {

    background-image: url(/images/homeColor.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    transition: all ease-in-out 500ms;
    background-size: 180px;
}

/* giftShoppy Inactive */

.inActiveGiftShoppy {

    background-image: url(/images/homeBlack.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    transition: all ease-in-out 500ms;
    background-size: 180px;

}





.coursePriceSelectedBg {

    /* background: linear-gradient(180deg, #AC6CFF 0%, #6400E6 100%); */
    box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.42);
}


.emptyBasketTotalAmt {

    background: linear-gradient(180deg, #B6B6B6 0%, #6C6C6C 100%);
}



.readyToCheckoutBg {

    background: linear-gradient(180deg, #AC6BFF 0%, #7721E8 100%);
}


/* toggle animation */


.toggleOn {
    animation: toggleOn ease-in-out 500ms forwards;
    transition: all ease-in-out 500ms;
}

@keyframes toggleOn {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }

}


.toggleOff {
    animation: toggleOff ease-in-out 500ms forwards;
    transition: all ease-in-out 500ms;
}

@keyframes toggleOff {

    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }

}


.image_wrapper {
    height: auto;
    width: auto;
    border-radius: 6px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}

.shine {
    position: relative;
    overflow: hidden;
}

.shine {
    position: relative;
    overflow: hidden;
}

.shine::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
}

.shine:hover::before,
.shine:focus::before {
    animation: shine 0.85s;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}