.gridMain {

    transition: all ease-in-out 2s;
    animation: transformUp 1s ease-in-out forwards;
    position: relative;


}


@keyframes transformUp {

    from {
        top: 100px;
        opacity: 0;

    }

    to {

        top: 0;
        opacity: 1;
    }
}


.cardBackground {

    background-color: rgba(128, 128, 128, 0.164);
    /* color: #9747FF; */
}


.cardBackgroundHover:hover {

    background-color: rgba(128, 128, 128, 0.164);
    /* color: #9747FF; */
    cursor: pointer;
    z-index: 100;
    transition: all ease-in-out 500ms;
}


.cardBackgroundHover {

    background-color: transparent;
    color: black;
    cursor: pointer;
    z-index: 100;
    transition: all ease-in-out 500ms;
}


.hide1 {

    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;

}

.cardBackgroundHover:hover .hide1 {

    color: #9747FF;
    transition: color 500ms ease-in;
    animation: animateText 500ms linear both;
    display: block;
}

@keyframes animateText {

    from {
        opacity: 0;

    }

    to {
        opacity: 1;
        display: block;
    }

}

.cardBackgroundHover .hide1 {

    color: #9747FF;
    transition: color 500ms ease-in;
    animation: animateTextHide 500ms linear both;
    display: block;

}

@keyframes animateTextHide {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;

    }




}


.cardBackgroundHover:hover>.discriptionAnimation {

    transition: all ease 1000ms;
    transform: translateY(-10px);
    animation: FadeUpText 1000ms ease forwards;

}





.cardBackgroundHover>.discriptionAnimation {

    transition: all ease 1000ms;
    transform: translateY(0px);

}




.show1 {

    display: block;
    opacity: 1;
    transition: all 1s ease-in-out;
    animation: showAnimate 1s ease-in-out forwards;
}

@keyframes showAnimate {


    from {
        opacity: 0;
        /* transform: translateY(100px); */
    }

    to {
        opacity: 1;
    }


}


.fadeAnimation {
    animation: fadeAnimate 1s ease-in-out;
}

@keyframes fadeAnimate {


    from {
        opacity: 0;
        /* transform: translateY(100px); */
    }

    to {
        opacity: 1;
    }


}

.fadeAnimationhide {
    animation: fadeAnimatehide 1s ease;
}

@keyframes fadeAnimatehide {


    from {
        opacity: 1;

    }

    to {
        opacity: 0;
        /* transform: translateY(100px); */
        width: 0;
        height: 0;
        visibility: hidden;
    }


}


.submitbtnbg {

    color: white;
    background-color: black;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.submitbtnbg:hover {

    color: white;
    background-color: #9747FF;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.hidescrollBar::-webkit-scrollbar {
    display: none;
}



.mainDiv>.gift {

    background-image: url(/images/home1.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in-out 500ms;
    width: 170px;
    height: 150px;
}

.mainDiv:hover>.gift {

    background-image: url(/images/home3.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in-out 500ms;
    width: 170px;
    height: 150px;
}