@tailwind base;
@tailwind components;
@tailwind utilities;




a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply text-[16px];
  }

  /* body {
    font-family: "apple";
  } */

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}


.Boxshadow {
  box-shadow: 0px 4px 52px 4px rgba(10, 6, 22, 0.08);
}


.image-card img {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.zoom-effect-container:hover {
  background: rgba(128, 128, 128, 0.164);
}



.zoom-effect-container:hover .image-card img {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);

}

.hide {
  display: none;
}

.zoom-effect-container:hover .hide {
  display: block;
  animation: 1.5s anim-lineUp ease;
}

.zoom-effect-container:hover .lineUp {

  animation: 1.5s anim-lineUp ease;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }



  100% {
    opacity: 1;
    transform: translateY(0%);
  }


}


.zoom-effect-container:hover h3 {
  color: purple;
}


/* animation for model components */

.animateUp {
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: both;

}

@keyframes example {
  from {
    left: -150px;
    bottom: -300px;
    opacity: 0.8;
  }


  to {
    left: -150px;
    bottom: -5px;
    opacity: 1;

  }
}


.animateDown {
  animation-name: example2;
  animation-duration: 2s;
  animation-fill-mode: both;

}

@keyframes example2 {



  from {
    left: -150px;
    bottom: -5px;
    opacity: 1;

  }

  to {
    left: -150px;
    bottom: -100px;
    opacity: 0;
  }
}




.animateMain {
  animation-name: example3;
  animation-duration: 2s;
  animation-fill-mode: both;

}

@keyframes example3 {



  from {

    opacity: 0;

  }

  to {
    opacity: 1;
  }
}