.aboutMain {

    animation-name: aboutShow;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 2s;



}


@keyframes aboutShow {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}


.hide {
    opacity: 0;
}


.navli:hover.showLine {
    opacity: 1;
    color: #9747FF;
    transition: all ease-in-out 500ms;
}


/* css for Nav component */


.navli:hover {

    color: #9747FF;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: color 700ms ease-in-out;
    font-weight: bold;



}


.navli.active {

    color: #9747FF;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: color 700ms ease-in-out;
    font-weight: bold;
    opacity: 1;



}

.navli.activeShowLine {

    opacity: 1;
    color: #9747FF;
    transition: all ease-in-out 500ms;



}

.navli {
    color: white;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: color 700ms ease-in-out;
    font-weight: bold;
}

@media only screen and (min-width:640px) and (max-width:768px) {
    .navli {
        color: white;
        font-size: 1rem;
        -webkit-transition: all 700ms ease-in-out;
        -ms-transition: all 700ms ease-in-out;
        transition: color 700ms ease-in-out;
        font-weight: bold;
    }

    .navli.active {

        font-size: 1rem;
    }

}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .navli {
        color: white;
        font-size: 1.4rem;
        -webkit-transition: all 700ms ease-in-out;
        -ms-transition: all 700ms ease-in-out;
        transition: color 700ms ease-in-out;
        font-weight: bold;
    }

    .navli.active {

        font-size: 1.4rem;
    }

}


/* media query for extra large device  */


@media only screen and (min-width:1921px) {

    .navli {
        color: white;
        font-size: 2.5rem;
        -webkit-transition: all 700ms ease-in-out;
        -ms-transition: all 700ms ease-in-out;
        transition: color 700ms ease-in-out;
        font-weight: bold;
    }

    .navli.active {

        color: #9747FF;
        font-size: 2.5rem;
        -webkit-transition: all 700ms ease-in-out;
        -ms-transition: all 700ms ease-in-out;
        transition: color 700ms ease-in-out;
        font-weight: bold;
        opacity: 1;



    }
}

@media only screen and (min-width:2561px) {

    .navli {
        color: white;
        font-size: 3rem;
        -webkit-transition: all 700ms ease-in-out;
        -ms-transition: all 700ms ease-in-out;
        transition: color 700ms ease-in-out;
        font-weight: bold;
    }

    .navli.active {

        color: #9747FF;
        font-size: 3rem;
        -webkit-transition: all 700ms ease-in-out;
        -ms-transition: all 700ms ease-in-out;
        transition: color 700ms ease-in-out;
        font-weight: bold;
        opacity: 1;



    }
}

.navli:hover>.hide {

    opacity: 1;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;

}


.navli>.hide {

    opacity: 0;
    color: #9747FF;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;

}

.defaultBackground {

    background-image: url(/images/menu-bg.png);
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;


}



.aboutBackground {

    background-image: url(/images/about-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
    transition-delay: 10ms;
}



.fadeAnimation {
    animation: fadeAnimate 2s ease;
}

@keyframes fadeAnimate {


    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
    }


}


/* for mobile */

.zoomAnimation {
    animation: zoomAnimate 2s ease;
    transition: all ease-in-out 2s;
}

@media screen and (max-width:767px) {

    .leftRightAnimation {

        animation: leftRightAnimate ease-in-out 2s forwards;
        transition: all ease-in-out 2s;
    }


    @keyframes leftRightAnimate {

        from {

            transform: translateX(100%);
        }

        to {

            transform: translateX(0);
        }
    }
}

@keyframes zoomAnimate {


    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }


}

.instructorBackground {

    background-image: url(/images/instructor-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
    transition-delay: 10ms;
}


.blogBackground {
    background-image: url(/images/blog-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
    transition-delay: 10ms;

}


.hidescrollBar::-webkit-scrollbar {
    display: none;
}


/* i wannt a tech css  */


.iwannaTechStart {

    background: #6194F7;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transition-delay: 10ms;
}


.whyTechbg {

    background: #29BDAB;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.whyUsbg {

    background: #E6A84B;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.whyNowbg {
    background: #E4957F;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.neededbg {
    background: #952FE6;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.ncbtmbbg {
    background: #E06D2D;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.whyyoubg {
    background: #A53A3A;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.nowwhatbg {
    background: #145C9E;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.createbg {
    background: #1C9D5F;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.neverAlonebg {
    background: #B276FF;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.commissionbg {
    background: #2C29BD;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.getstartedbg {
    background: #96245A;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.shadow {

    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.3));
}

.shadowHover:hover {

    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.3));
    font-size: 20px;
    transition: all ease-in-out 500ms;
}

/* media query for extra large screen */

@media only screen and (min-width:1921px) {

    .shadowHover:hover {

        filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.3));
        font-size: 30px;
        transition: all ease-in-out 500ms;
    }
}

/* toggle animation  */

.toggleAnimation {

    animation: toggleDown 500ms ease-in-out forwards;
    transition: all ease-in-out 500ms;
}

@keyframes toggleDown {

    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}


.toggleAnimationOff {
    transform: rotate(0deg);
    transition: all ease-in-out 500ms;
}

.selectOptionClose {
    animation: toggleClose 1000ms ease;
    transition: all ease 1000ms;
}

@keyframes toggleClose {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



.selectOptionOpen {

    animation: toggleOpen 1000ms ease;
    transition: all ease 1000ms;
}

@keyframes toggleOpen {

    from {
        opacity: 0.5;
    }


    to {
        opacity: 1;
    }

}

/* updown animation start page  */


.arrowUpDown>.one {

    animation: fadeInOut ease-in-out infinite alternate 1000ms;
    transition: all ease-in-out 1000ms;

}

@keyframes fadeInOut {

    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

.arrowUpDown>.two {

    animation: fadeInOutOne ease-in-out infinite alternate 1000ms;
    transition: all ease-in-out 1000ms;
    animation-delay: 500ms;

}

@keyframes fadeInOutOne {

    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

.arrowUpDown>.three {

    animation: fadeInOutthree ease-in-out infinite alternate 1000ms;
    transition: all ease-in-out 1000ms;
    animation-delay: 500ms;

}

@keyframes fadeInOutthree {

    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

/* .transformTopBottomIndicater {

    margin-top: 397px;

} */


@media only screen and (max-height: 500px),
screen and (max-height: 700px) {
    .transformTopBottomIndicater {

        margin-top: 339px;

    }
}

.vertmove {
    /* -webkit-animation: mover 2s infinite alternate; */
    animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


.vertmoveDown {
    /* -webkit-animation: mover 2s infinite alternate; */
    animation: moverDown 2s infinite alternate;


}

@-webkit-keyframes moverDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);

    }
}

@keyframes moverDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


/* set background for mobile */

@media screen and (max-width:626px) {

    .bgMenuMob {

        background-image: url(/images/menu-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .bgMenuMobblog {

        background-image: url(/images/blog-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }


}


.aboutHideAnimat {

    animation: hideAbout 100ms forwards ease;
    animation-delay: 500ms;

}

@keyframes hideAbout {


    from {

        display: block;
    }

    to {

        display: none;
        visibility: hidden;
    }
}

.zindexMobileHeader {

    z-index: 0 !important;
}