.aboutMain {

    animation-name: aboutShow;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 2s;



}


@keyframes aboutShow {
    from {

        opacity: 0;

    }

    to {

        opacity: 1;
    }
}


.hide {
    opacity: 0;
}


.navli:hover.showLine {
    opacity: 1;
    color: #9747FF;
    transition: all ease-in-out 500ms;

}


/* css for Nav component */


.navli:hover {

    color: #9747FF;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: color 700ms ease-in-out;
    font-weight: bold;



}


.navli.active {

    color: #9747FF;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: color 700ms ease-in-out;
    font-weight: bold;
    opacity: 1;



}

.navli.activeShowLine {

    opacity: 1;
    color: #9747FF;
    transition: all ease-in-out 500ms;



}

.navli {

    color: white;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: color 700ms ease-in-out;
    font-weight: bold;



}

.navli:hover>.hide {

    opacity: 1;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;

}


.navli>.hide {

    opacity: 0;
    color: #9747FF;
    font-size: 1.9rem;
    -webkit-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;

}

.defaultBackground {

    background-image: url(/images/menu-bg.png);
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    transition: background-image 1s;

}



.aboutBackground {

    background-image: url(/images/about-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    transition: background-image 1s;



}



.fadeAnimation {
    animation: fadeAnimate 1s ease;
}

@keyframes fadeAnimate {


    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
    }


}

.instructorBackground {

    background-image: url(/images/instructor-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    transition: background-image 1s;

}


.blogBackground {

    background-image: url(/images/blog-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    transition: background-image 1s;

}


.hidescrollBar::-webkit-scrollbar {
    display: none;
}