.lobby:hover {

    background-color: #9747FF;
    transition: all ease-in-out 500ms;
}



.showCourseDetail {
    transition: all ease-in-out 1s;

    opacity: 1;
}


.hideCourseDetail {
    transition: all ease-in-out 1s;

    opacity: 0;
}




@media screen and (max-height:700px) and (max-height:650px) {


    .ncbtapproved h2 {

        font-size: 40px;
        line-height: 3rem;

    }

    .ncbtapproved img {

        width: 230px;
        height: 230px
    }

}