.parentchildon {
    animation-name: animateparenton;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}



@keyframes animateparenton {

    0% {

        opacity: 0;

    }

    50% {

        opacity: 0.5;

    }

    100% {

        opacity: 1;

    }
}




.parentchildoff {
    animation-name: animateparentoff;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}



@keyframes animateparentoff {

    0% {

        opacity: 1;

    }

    50% {

        opacity: 0.5;

    }

    100% {

        opacity: 0;

    }
}


.childparentoff {

    animation-name: animatechildoff;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    position: absolute;

}

@keyframes animatechildoff {


    0% {
        left: 0px;
        bottom: 320px;
        opacity: 1;
    }

    25% {
        left: 0px;
        bottom: 200px;
        opacity: 0.8;
    }

    60% {
        left: 0px;
        bottom: 100px;
        opacity: 0.5;
    }

    100% {
        left: 0px;
        bottom: 60px;
        opacity: 0;

    }

}


.childparenton {

    animation-name: animatechildon;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    position: absolute;
    animation-timing-function: ease-in-out;




}

@keyframes animatechildon {




    0% {
        left: 0px;
        bottom: 0px;
        opacity: 0;
    }

    25% {
        left: 0px;
        bottom: 100px;
        opacity: 0.5;
    }

    60% {
        left: 0px;
        bottom: 200px;
        opacity: 0.8;
    }

    100% {
        left: 0px;
        bottom: 320px;
        opacity: 1;

    }

}

/* media query  */



@media only screen and (max-height: 700px) {
    .childparentoff {

        animation-name: animatechildoff;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        position: absolute;

    }

    @keyframes animatechildoff {


        0% {
            left: 0px;
            bottom: 150px;
            opacity: 1;
        }

        25% {
            left: 0px;
            bottom: 100px;
            opacity: 0.8;
        }

        60% {
            left: 0px;
            bottom: 50px;
            opacity: 0.5;
        }

        100% {
            left: 0px;
            bottom: 0px;
            opacity: 0;

        }

    }


    .childparenton {

        animation-name: animatechildon;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        position: absolute;
        animation-timing-function: ease-in-out;




    }

    @keyframes animatechildon {




        0% {
            left: 0px;
            bottom: 0px;
            opacity: 0;
        }

        25% {
            left: 0px;
            bottom: 50px;
            opacity: 0.5;
        }

        60% {
            left: 0px;
            bottom: 100px;
            opacity: 0.8;
        }

        100% {
            left: 0px;
            bottom: 150px;
            opacity: 1;

        }

    }
}





@media only screen and (max-height: 600px) {
    .childparentoff {

        animation-name: animatechildoff;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        animation-timing-function: linear;
        position: absolute;

    }

    @keyframes animatechildoff {


        0% {
            left: 0px;
            bottom: 230px;
            opacity: 1;
        }

        25% {
            left: 0px;
            bottom: 150px;
            opacity: 0.8;
        }

        60% {
            left: 0px;
            bottom: 100px;
            opacity: 0.5;
        }

        100% {
            left: 0px;
            bottom: 60px;
            opacity: 0;

        }

    }


    .childparenton {

        animation-name: animatechildon;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        position: absolute;
        animation-timing-function: linear;




    }

    @keyframes animatechildon {




        0% {
            left: 0px;
            bottom: 0px;
            opacity: 0;
        }

        25% {
            left: 0px;
            bottom: 100px;
            opacity: 0.5;
        }

        60% {
            left: 0px;
            bottom: 150px;
            opacity: 0.8;
        }

        100% {
            left: 0px;
            bottom: 230px;
            opacity: 1;

        }

    }
}


@media only screen and (max-height: 500px),
screen and (max-height: 700px) {
    .childparentoff {

        animation-name: animatechildoff;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        position: absolute;

    }

    @keyframes animatechildoff {


        0% {
            left: 0px;
            bottom: 150px;
            opacity: 1;
        }

        25% {
            left: 0px;
            bottom: 130px;
            opacity: 0.8;
        }

        60% {
            left: 0px;
            bottom: 100px;
            opacity: 0.5;
        }

        100% {
            left: 0px;
            bottom: 60px;
            opacity: 0;

        }

    }


    .childparenton {

        animation-name: animatechildon;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        position: absolute;
        animation-timing-function: ease-in-out;




    }

    @keyframes animatechildon {


        0% {
            left: 0px;
            bottom: 0px;
            opacity: 0;
        }

        25% {
            left: 0px;
            bottom: 100px;
            opacity: 0.5;
        }

        60% {
            left: 0px;
            bottom: 130px;
            opacity: 0.8;
        }

        100% {
            left: 0px;
            bottom: 150px;
            opacity: 1;

        }

    }
}

.animationEndHideChild {
    bottom: 60px;
    left: -350px;
    opacity: 0;
    position: absolute;
    z-index: 10;

}


.modelScaleUpAnimation {

    animation-name: modelScaleUp;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


@keyframes modelScaleUp {

    0% {
        padding: 25px 25px 25px 25px;
        width: 335px
    }

    25% {
        padding: 25px 26px 25px 26px;
        width: 350px
    }

    60% {
        padding: 25px 28px 25px 28px;
        width: 370px
    }

    100% {
        padding: 25px 30px 25px 30px;
        width: 390px
    }

}


.modelScaleDownAnimation {

    animation-name: modelScaleDown;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


@keyframes modelScaleDown {

    0% {
        padding: 25px 30px 25px 30px;
        width: 390px
    }

    25% {
        padding: 25px 28px 25px 28px;
        width: 370px
    }

    60% {
        padding: 25px 26px 25px 26px;
        width: 350px
    }

    100% {
        padding: 25px 25px 25px 25px;
        width: 335px
    }

}


/* card animation  */

.imagecard img {
    -webkit-transition: 1s ease;
    transition: 1s ease;
    overflow: hidden;
}

.cardAnimation:hover {

    background: rgba(128, 128, 128, 0.164);
    transition: background 2s ease;


}


.cardAnimation {

    background: transparent;
    transition: background 2s ease;
}

.cardAnimation:hover img {

    animation: scaleUpImage 1s ease-out both;
}

@keyframes scaleUpImage {

    from {
        transform: scale(1.0);
        transform: translateY(10px);

    }

    to {
        transform: scale(1.2);

    }
}




.cardAnimation img {

    animation: scaleDownImage 1s ease-in-out both;
}

@keyframes scaleDownImage {

    from {
        transform: scale(1.2);

    }

    to {
        transform: scale(1.0);
        transform: translateY(10px);

    }


}

.cardAnimation:hover h3 {

    color: purple;
    transition: color 1s ease-in;
    animation: textanimateUp 1s ease-in-out;

}

@keyframes textanimateUp {
    from {

        transform: translateY(10px);
        color: black;
    }


    from {


        color: purple;

    }
}


.hide {

    display: none;
}


.cardAnimation:hover .hide {

    color: purple;
    transition: color 5s ease-in;
    animation: animateText 1s ease-in-out both;
    display: block;
}

@keyframes animateText {

    from {
        opacity: 0;
        transform: translateY(10px);
    }


    to {
        opacity: 1;
        display: block;
    }

}



.cardAnimation .hide {

    color: purple;
    transition: color 5s ease-in;
    animation: animateTextHide 1s ease-in-out both;
    display: block;
}

@keyframes animateTextHide {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }




}

.animatMenuLine>path:first-child {

    animation: animateLine 1s infinite;

    opacity: 1;

    transition: opacity 1s ease;


}


@keyframes animateLine {


    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transition: scale 1s ease;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        transition: scale 1s ease;
    }
}


/* door open animation */


.doorOPenAnimation:hover :nth-child(2) {


    transform: rotateY(15deg);

    /* animation: rotateImage 1s linear; */
}


@keyframes rotateImage {


    from {

        transform: rotate(0);
    }


    to {

        transform: -rotateX(-60deg);
    }
}