.modelOpen {

    opacity: 1;
    transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    animation: passwordShow 1s ease-in-out forwards;

}

@keyframes passwordShow {

    form {


        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    to {


        visibility: visible;

    }
}

.modelClose {


    transition: all ease-in-out 1s;
    animation: passwordHide 1s ease-in-out forwards;

}


@keyframes passwordHide {

    form {


        visibility: visible;

    }

    to {


        visibility: hidden;
        width: 0%;
        height: 0%;
    }
}




.modelHide {

    opacity: 0;
    display: none;
    transition: all 1s ease-in-out;

}