.dotsBorder {

    padding: 8px;
    border-radius: 50% !important;
    border-color: white;
    border-width: 3px;


}

.shadow {

    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.3));
}

.shadowHover:hover {

    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.3));
    transform: scale(1.2);
    transition: all ease-in-out 500ms;
}



/* start */

.vertmove {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}

.vertmove {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40px);
    }
}


/* i whytechTech  */

.imgRotate {
    -webkit-animation: animateRotate 2s infinite alternate;
    animation: animateRotate 2s infinite alternate;
}

.imgRotate {
    -webkit-animation: animateRotate 2s infinite alternate;
    animation: animateRotate 2s infinite alternate;
    overflow: hidden;
}

@-webkit-keyframes animateRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-20deg);
    }
}

@keyframes animateRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-20deg);
    }
}

/* scale animation */


.scaleAnimation {


    animation: scaleAnimate ease-in-out 2s infinite alternate;
    transition: all ease-in-out 2s;
}

@keyframes scaleAnimate {

    from {
        -webkit-transform: scale(1.0);
        transform: scale(1.0, 1.0);
        -ms-transform: scale(1.0, 1.0);
        /* IE 9 */
        -webkit-transform: scale(1.0, 1.0);
        /* Safari and Chrome */
    }

    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2, 1.2);
        /* Safari and Chrome */

    }
}



.arrowUpDown:nth-child(1) {

    animation: fadeInOut ease-in-out infinite alternate 200ms;
    transition: all ease-in-out 200ms;

}

@keyframes fadeInOut {

    from {

        opacity: 0.5;
    }

    to {

        opacity: 1.0;
    }
}


.fadeAnimation {
    animation: fadeAnimate 2s ease;
}

@keyframes fadeAnimate {


    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
    }


}


.fadeAnimationDown {
    animation: fadeAnimateDown 2s ease;
}

@keyframes fadeAnimateDown {


    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
    }


}


.fadeAnimationInfinite {
    animation: fadeAnimate 2s ease infinite alternate;
    overflow: hidden;
}

@keyframes fadeAnimate {


    from {
        opacity: 1;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        overflow: hidden;
    }


}